/* static/style.css */
body {
    font-family: "Inter", sans-serif;
}

.btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    background-color: #5c636a;
    border-color: #565e64;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    background-color: #ffca2c;
    border-color: #ffc720;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn:disabled {
    background-color: #6c757d; /* Un color gris */
    border-color: #6c757d;
    opacity: 0.65; /* Le bajamos la opacidad */
    cursor: not-allowed; /* Cambiamos el cursor para indicar que no se puede hacer clic */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.flash-message {
    animation: fadeIn 0.5s ease-out forwards;
}

.flash-message.fade-out {
    animation: fadeOut 0.5s ease-in forwards;
}